<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
  <% if value = "string only" %>
    <div> if value is string only </div>
  <% end %>

  \<% not a template tag %>

  <% in array %>
    <div> <% idx %> <% array[idx] %> </div>
  <% end %>

  <% of object %>
    <div> <% key %> <% object.key %> </div>

    <% if object.key = "key" %>
      <p> should work </p>
    <% end %>
  <% end %>
  </body>
</html>

